/*
Generated time: November 30, 2025 10:01
This file was created by the app developer. Feel free to contact the original developer with any questions. It was minified (compressed) by AVADA. AVADA do NOT own this script.
*/
.main-navigation-mega .navigation-submenu {
    transform: translateY(-2.5rem);
    transition: all .2s ease-in-out;
    transition-delay: .2s
}

.mega-image-menu__list,
.mega-menu__list {
    visibility: hidden;
    opacity: 0;
    transform: translateY(1.5rem);
    transition: all .3s linear;
    transition-delay: .1s
}

.main-navigation-mega li:focus-within>.navigation-submenu,
.main-navigation-mega li:hover>.navigation-submenu {
    transform: translateY(0)
}

.main-navigation-mega li:focus-within .mega-image-menu__list,
.main-navigation-mega li:focus-within .mega-menu__list,
.main-navigation-mega li:hover .mega-image-menu__list,
.main-navigation-mega li:hover .mega-menu__list {
    transform: translateY(0);
    opacity: 1;
    visibility: visible
}

.main-navigation-mega .navigation-submenu.bottom {
    transform: translateY(3.5rem);
    transition: all .1s ease-in-out;
    transition-delay: .1s
}

.mega-menu__list.bottom {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2.5rem);
    transition: all .1s ease-in-out;
    transition-delay: .15s
}

.main-navigation-mega li:focus-within>.navigation-submenu.bottom,
.main-navigation-mega li:hover>.navigation-submenu.bottom {
    transform: translateY(-1.5rem);
    transition: all .2s ease-in-out;
    transition-delay: .15s
}

.main-navigation-mega li:hover .mega-menu__list.bottom {
    transform: translateY(0);
    transition: all .2s ease-in-out;
    transition-delay: .15s
}

.main-navigation-mega .navigation-submenu.left {
    transform: translateX(-3.5rem);
    transition: all .1s ease-in-out;
    transition-delay: .1s
}

.mega-menu__list.left {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2.5rem);
    transition: all .1s ease-in-out;
    transition-delay: .15s
}

.main-navigation-mega li:focus-within>.navigation-submenu.left,
.main-navigation-mega li:hover>.navigation-submenu.left {
    transform: translateY(-1.5rem);
    transform: translateX(0);
    transition: all .2s ease-in-out;
    transition-delay: .15s
}

.main-navigation-mega li:hover .mega-menu__list.left {
    transform: translateY(0);
    transition: all .2s ease-in-out;
    transition-delay: .15s
}