/*
Generated time: November 29, 2025 08:19
This file was created by the app developer. Feel free to contact the original developer with any questions. It was minified (compressed) by AVADA. AVADA do NOT own this script.
*/
.featured-collections__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-self: center;
    padding: 4rem calc(4rem / var(--font-body-scale)) 5rem;
    position: relative;
    z-index: 1
}

.featured-collections-wrapper .card-content-1 {
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: -1px;
    padding: 7px 20px;
    width: 100%
}

.featured-collections-section.featured-collections-wrapper .card-content-1,
.featured-collections-section.featured-collections-wrapper .card-information-1 {
    background: 0 0
}

.collection-list-three .card-content-1 {
    padding: 0 20px
}

.featured-collections-wrapper h3.card-heading-q {
    display: inline
}

.collection-list-three .featured-collections-wrapper h3.card-heading-q {
    display: block;
    margin: 1rem 0
}

.collection-list-three .animate-arrow .card .card-heading-q {
    padding: 0
}

.featured-collections-wrapper a.full-unstyled-link {
    display: inline
}

.featured-collections-wrapper a.full-unstyled-link:focus-visible {
    display: block
}

.featured-collections-wrapper.grid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center
}

.featured-collections__content--mobile-right>* {
    align-self: flex-end;
    text-align: right
}

.featured-collections__content--mobile-left>* {
    align-self: flex-start;
    text-align: left
}

.featured-collections__content--mobile-center>* {
    align-self: center;
    text-align: center
}

.featured-collections__content {
    border-radius: var(--text-boxes-radius);
    box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
    word-break: break-word
}

.featured-collections__content>*+* {
    margin-top: 2rem
}

.featured-collections__content>.featured-collections__text:empty~a {
    margin-top: 2rem
}

.featured-collections__content>:first-child:is(.featured-collections__heading),
.featured-collections__text--caption+.featured-collections__heading {
    margin-top: 0
}

.featured-collections__content :last-child:is(.featured-collections__heading),
.featured-collections__text--caption {
    margin-bottom: 0
}

.featured-collections__content .button+.featured-collections__text {
    margin-top: 2rem
}

.featured-collections__content .featured-collections__text+.button {
    margin-top: 3rem
}

.featured-collections__heading {
    margin-bottom: 0
}

.featured-collections__text {
    margin-top: 1rem;
    margin-bottom: 1.5rem
}

.collection-list-three .card-wrapper .card-content-1 {
    border-radius: var(--media-radius)
}

.featured-collections-wrapper .grid-item .placeholder-svg {
    box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
    border-radius: calc(var(--media-radius));
    width: 100%;
    height: 200px
}

.collection-list-three .featured-collections-wrapper .grid-item .placeholder-svg {
    display: none
}

.featured-collections-section.featured-collections-wrapper .grid-item .placeholder-svg {
    height: 300px
}

.featured-collections-wrapper .card-media {
    box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
    border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding))
}

.collection-style-one .card-inner.global-media-settings img {
    border-radius: 0
}

.collection-style-three .featured-collections-wrapper .card-inner.global-media-settings .card-media .media img {
    border-radius: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%
}

.collection-style-three .grid-item.collection-two.collection-two-even.aos-init.aos-animate {
    order: 2
}

.collection-style-one .featured-collections-wrapper .card-inner.global-media-settings .card-media .media img,
.collection-style-one .featured-collections-wrapper .grid-item .placeholder-svg {
    border-radius: 500px;
    border-bottom-right-radius: 20px
}

.collection-style-one .featured-collections-wrapper .card-content-1,
.featured-collections-wrapper .card-content-2 {
    bottom: 0;
    right: 0;
    width: auto
}

.collection-style-one .featured-collections-wrapper .card-media,
.collection-style-three .featured-collections-wrapper .card-media {
    box-shadow: none;
    border-radius: 0
}

.collection-style-one .featured-collections-wrapper .card-content-1,
.collection-style-one .featured-collections-wrapper .card-content-2 {
    border: none;
    box-shadow: none;
    border-radius: 12px 0 12px 0
}

.subcollections-title .title {
    margin: 0
}

.collection-info.grid {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0
}

.collection p.image-with-text-text--caption {
    margin: 0
}

.featured-collections-section .card-media .media::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
    transform: none;
    transition: all .3s ease;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .9) 100%);
    opacity: .8;
    pointer-events: none
}

.featured-collections-section .card-media .media img:hover {
    transform: translateY(0);
    transform: scale(1.1)
}

.featured-collections-section .animate-arrow:hover .card .card-heading-q {
    background-image: none;
    background-size: 0
}

@media screen and (min-width:750px) {
    .featured-collections-wrapper h3.card-heading-q {
        font-size: calc(var(--font-heading-scale) * 2.4rem)
    }

    .featured-collections--reverse .featured-collections__content {
        margin-left: auto
    }

    .featured-collections__content--bottom {
        justify-content: flex-end;
        align-self: flex-end
    }

    .featured-collections__content--top {
        justify-content: flex-start;
        align-self: flex-start
    }

    .featured-collections__content--middle {
        justify-content: center;
        align-self: center
    }

    .featured-collections__content--desktop-right {
        align-self: flex-end;
        text-align: right
    }

    .featured-collections__content--desktop-center {
        align-self: center;
        text-align: center
    }

    .featured-collections__content--desktop-left {
        align-self: flex-start;
        text-align: left
    }
}

@media screen and (min-width:990px) {
    .featured-collections-wrapper.page-width {
        padding-left: 5rem;
        padding-right: 5rem
    }

    .grid-item.featured-collections__overlap--true {
        margin-left: -60px;
        position: relative;
        z-index: 2
    }

    .featured-collections--reverse .grid-item.featured-collections__overlap--true {
        margin-right: -60px;
        margin-left: 0
    }

    .featured-collections__content {
        padding: 6rem 7rem 7rem
    }

    .collection-one-first-third-down,
    .collection-three-first-third-down,
    .collection-two-second-down {
        margin-top: 80px
    }

    .collection-one-first-down {
        margin-top: 80px
    }

    .grid-item.featured-collections__text-item {
        padding: 40px
    }

    .featured-collections__text p {
        font-size: calc(var(--font-body-scale) * 1.8rem);
        line-height: calc(1 + .6 / max(1, var(--font-body-scale)))
    }
}

@media screen and (max-width:750px) {

    .subcollections .grid--4-col-desktop .grid-item,
    .subcollections .grid--5-col-desktop .grid-item {
        width: 100%;
        max-width: 100%
    }
}

@media screen and (max-width:990px) {
    .grid-item.featured-collections__text-item {
        padding: 0 0 20px 0
    }

    .collection-info.grid {
        display: block;
        margin-right: 1.5rem
    }

    .featured-collections-wrapper .grid-item {
        width: 100%;
        max-width: 100%
    }

    .featured-collections--reverse.mobile-featured-collections--reverse,
    .mobile-featured-collections--reverse {
        flex-direction: column-reverse
    }

    .featured-collections-wrapper h3.card-heading-q {
        font-size: calc(var(--font-heading-scale) * 1.8rem)
    }

    .featured-collections-wrapper .card-content-1 {
        padding: 7px 12px
    }
}

@media screen and (min-width:1800px) {
    .featured-collections__content {
        width: 70%
    }
}

@media (min-width:990px) and (max-width:1200px) {

    .featured-collections-wrapper .grid-item.collection-one-even,
    .featured-collections-wrapper .grid-item.collection-one-first-down,
    .featured-collections-wrapper .grid-item.collection-one-second-down,
    .featured-collections-wrapper .grid-item.collection-two-even,
    .featured-collections-wrapper .grid-item.collection-two-first-down,
    .featured-collections-wrapper .grid-item.collection-two-second-down {
        width: 15%
    }
}